node_modules/
.wrangler/
.dev.vars
.env*
!.env.example

# Android
android/.gradle/
android/local.properties
android/**/build/
android/captures/
android/.idea/
android/dist/
*.iml
*.jks
*.keystore
android/signing.properties
